.btn-outline-success {
    padding-top: 1px;
    text-align: center;
    white-space: normal;
    border-color: #00AB47;
    height: 36px;
    font-size: 11px;
}

.main-btns {
    padding-left: 150px;
    padding-top: 2px;
}