.btn{
    max-width: 50%;
    height: 40px;
}

// .btn-outline-success {
//     padding-top: 1px;
//     text-align: center;
//     white-space: normal;
//     border-color: #00AB47;
//     height: 36px;
//     font-size: 11px;
// }

.btn-outline-success {
    font-size: 16px;
    border-color: #00AB47;
    padding-top: 1px;
    text-align: center;
    white-space: normal;
    // max-width: 30%;
    // height: 36px;
}

.btn-outline-secondary {
    padding-top: 1px;
    text-align: center;
    white-space: normal;
    border: 1px solid #ced4da;
    // width: 30%;
    height: 36px;
    font-size: 16px;
}

.main-btns {
    padding-left: 150px;
    padding-top: 2px;
}

.save-btn {
    background-color: #00AB47;
    width: 100px;
    height: 36px;
    border: none;
}

.save {
    padding-top: 20px;
    padding-left: 5px;
}

.btn-primary {
    background-color: #00AB47;
    border: none;
    width: 100px;
    height: 36px;
}


.btn-primary {
    background-color: #00AB47;
    border: none;
    width: 40%;
    height: 36px;
}

.btn-primary:hover {
    background-color: #ffffff;
    color: #006B2D;
}

.edit-btn {
    float: right;
    margin-bottom: 30px;
}