.btn-outline-success {
    padding-top: 1px;
    text-align: center;
    white-space: normal;
    border-color: #00AB47;
    height: 36px;
    font-size: 11px;
}

.main-btns {
    padding-left: 150px;
    padding-top: 2px;
}

.save-btn {
    background-color: #00AB47;
    width: 100px;
    height: 36px;
    border: none;
}

.save {
    padding-top: 20px;
    padding-left: 5px;
}

.btn-primary {
    background-color: #00AB47;
    border: none;
    width: 100px;
    height: 36px;
}

.edit-btn {
    float: right;
    margin-bottom: 30px;
}