main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    overflow-x: auto;
    overflow-y: hidden;
}

main>* {
    flex-shrink: 0;
    min-height: -webkit-fill-available;
}

* {
    font-family: poppins;
    box-sizing: border-box;
}

/* data table */

th {
    font-weight: 500;
    font-size: 17px;
    color: #8A8888;
}

.form-check-label {
    font-weight: 400;
}

/* icons in table */

.table-action a {
    color: grey;
    text-decoration: none;
    padding: 0 5px;
}

.table-action a:hover {
    color: #1ab359;
}

/*end of data table */

/*tabs */

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #1ab359;
    color: #fff;
    width: 125px;
    margin: 0 10px;
    height: 40px;
}

.nav-pills .nav-link {
    color: #2b2b2b;
}

/* input feilds */

.form-select {
    width: 30%
}

// .form-control {
//     width: 30%;
// }

.form-control {
    max-width: 30%;
    text-align: center;
}

.col-form-label{
    margin-left: 10px;
}

/* end of input feilds */

div.form-group.row {
    text-align: center!important;
    margin-left: 100px;
    margin-right: 20px;
    margin-top: 15px;
}

.required:after {
    content:" *";
    color: red;
}

h2.details-tab{
    padding: 10px 0;
    font-size: 19px;
    color: #006B2D;
    margin-left: 150px;
    text-align: center;
    border: 1px solid #ced4da;
    border-radius: 7px;
}