// /* footer */

.footer {
    position: sticky;
    margin-top: 10px;
    width: 100%;
    background-color: #fff;
    color: #818181;
    text-align: center;
    font-size: 13px;
}

// /* end of footer */