/* footer */

.footer {
    position: fixed;
    right: 60px;
    bottom: 0;
    width: 70%;
    background-color: #fff;
    color: #818181;
    text-align: center;
    font-size: 13px;
}

/* end of footer */
