/* top navigation */

.bg-light {
    background-color: #fff!important;
    box-shadow: 0px 1px 7px #f2eeee;
}

.nav-bg {
    height: 80px;
    margin-bottom: 10px;
    background-color: #fff!important;
    box-shadow: 0px 1px 7px #00AB47;
}

.user-type {
    display: inline-block;
    font-size: 12px;
    color: #818181;
    position: absolute;
    top: 82%;
    left: 50%;
}

.user-link{
    color: #00AB47;
}

.user-link a:hover,
.user-link a:focus,
.user-link:hover {
    background-color: none !important;
}

.dropdown-toggle {
    outline: 0;
}

.dropdown:hover .dropdown-content {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
}

/*logo */

img.logo-img {

    display: inline-block;
    position: absolute;
    top: 6%;
    left: 7%;
}

hr {
    color: lightgrey;
}

/* end of logo */