// table, th, tr, thead {
//     text-align: center;
// }

// table, thead, tr, th, td, tbody {
//     text-align: center;
// }

// .table_body{
//     text-align: center;
// }

th {
    font-weight: 500;
    font-size: 17px;
    color: #8A8888;
}

h2 {
    font-size: 18px;
    padding: 10px 0;
    color: #006B2D;
}
