/* side navigation */

.side-nav-col {
    inline-size: min-content;
    height: 100%;
    margin-top: 5px!important;
    margin-bottom:15px!important;
}

.d-flex-side-nav {
    border: 1px solid #ced4da;
    box-shadow: 5px 5px #00AB47;
}

.nav-pills .nav-link.ac,
.nav-pills >.nav-link {
    text-align: center;
    background-color: #00AB47;
    color: #fff;
    height: 40px;
}

.nav-pills .nav-link:hover{
    color: #2b2b2b;
    border: 1px solid #00AB47;
}

.nav-flush .nav-link {
    border-radius: 0;
}

.nav-pills .nav-link{
    margin-bottom: 5px;
    color: #2b2b2b;
}

/* end of side nav */

.nav-link.ac .fas {
    color: #ffffff;
}

/* side nav icons */

.fas {
    color: #9F9F9F;
    padding-left: 1px;
    padding-right: 2px;
    font-size: 18px;
}

.nav-link{
    text-align: left;
}

#side-bar{
    font-size: 1rem;
    margin-bottom:3px!important;
}
/* end side nav icons */

/* end of side nav */