/*logo */
.main-logo {
    margin-top: 2%;
    margin-left: 35%;
    width: 35vw;
    height: 35vw;
}

.logo-img {
    width: 70px;
    display: inline-block;
    margin-left: 5px;
}

/* end of logo */

/* header and image */

h2 {
    color: #2b2b2b;
    font-size: 18px;
    padding-top: 10px;
}

img {
    width: 150px;
}


/* end of header and image */

.main-screen-text{
    padding: 5px 10px;
    // width: 100%;
    width: 40vw;
    margin-top: 2px!important;
    margin-left: 35%;
    text-align: center;
    background-color: #f2f2f290;
    color: rgb(19, 177, 58);
    border: 1px solid rgb(19, 177, 58);
    border-radius: 5px;
}