<% if resource.errors.any? %>
  <div class ="row" id="error_explanation">
    <h2>
      <%= I18n.t("errors.messages.not_saved",
                count: resource.errors.count,
                resource: resource.class.model_name.human.downcase)
      %>
    </h2>
    <div class="row">
      <% resource.errors.full_messages.each do |message| %>
        <div class="row"><%= message %></div>
      <% end %>
    </div>
  </div>
<% end %>
