<div class="col-lg-5 main-btns">
        <button class="btn btn-outline-success btn-sm" type="button">Add</button>
        <button class="btn btn-outline-success btn-sm" type="button">Export as PDF</button>
        <button class="btn btn-outline-success btn-sm" type="button">Export as Excel</button>
</div>