
<nav class="navbar navbar-expand-md navbar-light bg-light justify-content-end align-items-lg-start nav-bg">
    <div class="col-lg-2">
        <a href="<%= system_root_path %>" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <img src="<%= '/assets/main_logo.png' %>" alt="" class="logo-img">
        </a>
    </div>
    <div class="col-lg-10">
        <ul class="nav justify-content-end px-5">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle user-link" style="color: #00AB47;" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Yara Samy</a>
                <div class="user-type">Admin</div>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>