<table class="table mt-2">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        <% @settings.each do |setting| %>
        <tr>
            <th scope="row">
                <%= setting.id %>
            </th>
            <td><%= setting.name %></td>
            <td class="table-action">
                <%= link_to '', edit_system_setting_path(setting), class: "fa fa-edit" %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>
