<table class="table mt-2">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Brand</th>
            <th scope="col">Created At</th>
        </tr>
    </thead>
    <tbody class="table_body">
        <% @categories.each do |category| %>
        <tr>
            <th scope="row">
                <%= link_to category.id, system_category_path(category), style: "color: green" %>
            </th>
            <td><%= link_to category.name, system_category_path(category), style: "color: green" %></td>
            <td><%= link_to category.brandName, system_brand_path(category.brand), style: "color: green" %></td>
            <td><%= category.created_at.strftime("%A, %d %b %Y @ %H:%M:%S") %></td>
        </tr>
    <% end %>
    </tbody>
</table>