<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    
    <%= wicked_pdf_stylesheet_link_tag "pdf" -%>

  </head>
  <body style="text-align: center;">
    <div id="content">
      <% if user_signed_in?  %>
        <%= yield %>
      <% end %>
    </div>
  </body>
</html>