<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    
    <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
    <%= wicked_pdf_javascript_include_tag "number_pages" %>

    <script>
      function number_pages() {
        var vars={};
        var x=document.location.search.substring(1).split('&');
        console.log("x= ", x)
        for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = decodeURIComponent(z[1]);}
        var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
        for(var i in x) {
          var y = document.getElementsByClassName(x[i]);
          console.log("y= ", y)
          for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
        }
      }
    </script>
  </head>
  <body onload="number_pages()">
    <div id="header">
      <%#= wicked_pdf_image_tag 'mysite.jpg' %>
      <!-- Page <span class="page"></span> of <span class="topage"></span> -->
    </div>
    <div id="content">
      <% if system_user_signed_in?  %>
        <%= yield %>
      <% end %>
    </div>
  </body>
</html>